body{
    background-image:url(Blue\ Green\ Minimalist\ Gradient\ Background\ Instagram\ Story.png);
    background-repeat: no-repeat;
    background-size:cover
}
header{
    background-image: url(Design\ sem\ nome.png);
    
}